body{
    background-color: #F6F5EA;
    margin: 0;
    height: auto;
    width: auto;
    font-family: "Times New Roman", Times, serif;
}

.barra{
    background-color: #F6F5EA;
    width: auto;
    height: 150px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}
.central{
    text-align: center;
    margin-left: 8%;
}
#img{
    height: 150px;
    width: 50%;
    margin-bottom: 0;
}

.testi{
    font-size: 120%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.testi > * + * {
    margin-left: 10px;
}
#p1:hover,
#p2:hover,
#p3:hover,
#p4:hover{
    text-shadow: 0px 0px 5px #9C9A81;
}


#insta{
    border: 1px solid;
    border-radius: 20%;
    border-color: #9C9A81;
    background-color: #9C9A81;

    height: 40px;
    width: 40px;
    text-align: center;


    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}
.fa-instagram{
    transform: scale(1.5, 1.5);
}

#prenotaPrinc{
    border: 1px solid;
    border-color: #9C9A81;
    background-color: #9C9A81;

    text-align: center;
    justify-content: center;
    font-size: 120%;
    padding: 20px;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
}

#insta:hover,
#prenotaPrinc:hover{
    background-color: #F6F5EA;
}

#p1:active,
#p2:active,
#p3:active,
#p4:active{
    color: #9C9A81;
}

#one{
    background-color: black;
}

.page1{
    background-image: url("first.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    position: relative;
    border: 1px solid;
    border-color: #9C9A81;
    width: 90%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#prenota1{
    border: 1px solid;
    border-color: #F6F5EA;
    background-color: #F6F5EA;
    color: #363317;

    text-align: center;
    justify-content: center;
    font-size: 20px;
    height: 60px;
    width: 500px;

    margin-top: 5%;
}
#pres1{
    font-size: 60px;
    color: #F6F5EA;
}
#prenota1:hover{
    background-color: #9C9A81;
    color: #F6F5EA;
}
.t1{
    margin-top: 10%;

    font-size: 30px;
    color: #363317;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

.presentation{
    font-size: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10%;
}

#map{
    max-width: 1500px;
    height: 700px;
    width: 80%;
    margin-top: 5%;
}
@media screen and (max-width: 481px) {
    #insta{
        height: auto;
        width: auto;
        padding: 2%;
    }
    #prenotaPrinc{
        padding: 2%;
        font-size: 100%;
        margin-left: 5%;
    }
}