body{
    background-color: #F6F5EA;
    margin: 0;
    height: auto;
    width: auto;
    font-family: "Times New Roman", Times, serif;
}

.barra{
    background-color: #F6F5EA;
    width: auto;
    height: 150px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}
.central{
    text-align: center;
    margin-left: 13%;
}
#img{
    height: auto;
    width: 50%;
    margin-bottom: 0;
}

.testi{
    font-size: 120%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.testi > * + * {
    margin-left: 10px;
}
#p1:hover,
#p2:hover,
#p3:hover,
#p4:hover{
    text-shadow: 0px 0px 5px #9C9A81;
}


#insta{
    border: 1px solid;
    border-radius: 20%;
    border-color: #9C9A81;
    background-color: #9C9A81;

    height: 40px;
    width: 40px;
    text-align: center;


    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}
.fa-instagram{
    transform: scale(1.5, 1.5);
}

#prenotaPrinc{
    border: 1px solid;
    border-color: #9C9A81;
    background-color: #9C9A81;

    text-align: center;
    justify-content: center;
    font-size: 120%;
    padding: 20px;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    margin-left: 5%;
}

#insta:hover,
#prenotaPrinc:hover{
    background-color: #F6F5EA;
}

#p1:active,
#p2:active,
#p3:active,
#p4:active{
    color: #9C9A81;
}

#one{
    background-color: black;
}

.page1{
    background-image: url("photos/pE1.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    position: revert;
    border: 1px solid;
    border-color: #9C9A81;
    height: 450px;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
}

#prenota1{
    border: 1px solid;
    border-color: #F6F5EA;
    background-color: #F6F5EA;
    color: #363317;

    text-align: center;
    justify-content: center;
    font-size: 140%;
    height: 60px;
    max-width: 500px;

    margin-top: 5%;
    margin-right: 5%;
    width: 70%;
}
#pres1{
    font-size: 400%;
    color: #F6F5EA;
    margin-right: 7%;
    margin-bottom: 2%;

}
#prenota1:hover{
    background-color: #9C9A81;
    color: #F6F5EA;
}
.t1{
    margin-top: 10%;
    margin-bottom: 10%;

    font-size: 180%;
    color: #363317;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}
.stagioni > div > a:hover{
    text-shadow: 0 0 5px #F6F5EA;
}

.presentation{
    font-size: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#map{
    max-width: 1500px;
    height: 700px;
    width: 80%;
    margin-top: 5%;
}

.pres2,
.pres2 > div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.pres2{
    flex-direction: row;
}
.pres2 > div{
    max-width: 1000px;
    max-height: 1000px;
    width: 50%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.pres2 > div > a:hover{
    text-shadow: 0 0 5px #9C9A81;
}
#pres2\.0,
#pres2\.1{
    max-width:1000px;
    max-height: 1000px;
    width: 100%;
    height: 100%;
}
#a1\.2{
    font-size: 400%;
    color: #F6F5EA;
}
#p1\.2{
    margin-bottom: 10%;
    height: 400px;
    background: url("https://cdn.cosmos.so/13219224-64ae-4ff5-a2b6-7499fc733884?format=jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    background-size: cover;
}
#a1\.2:hover{
    text-shadow: 0 0 5px #F6F5EA;
}

.present{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10%;
}
.present > div{
    display: flex;
    flex-direction: row;
}

.present > div > div{
    max-width: 1000px;
    width: 30%;
    height: auto;
    margin: 5%;
    text-align: center;
    font-size: 120%;
}

.present > div > div > img{
    max-width:1000px;
    max-height: 1000px;
    width: 100%;
    height: auto;
}

#divS1,
#divS2,
#divS3{
    background: #9C9A81;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #F6F5EA;
}
.photos > a > img{
    margin: 2%;
    margin-bottom: 5%;
    float: left;
    border: 1px solid #363317;
    height: auto;
    width: 300px;
    box-sizing: border-box;
}
.photos > a > img:hover{
    box-shadow: 0 0 5px #363317;
}

@media screen and (max-width: 1024px) {
    .barra{
        transform: scale(0.95,1);
    }
    .barra > div,
    .barra > button,
    .barra > a{
        transform: scale(0.8,0.8);
        position: sticky;
        top: 0;
        z-index: 1;
    }
    #insta{
        height: auto;
        width: auto;
        padding: 2%;
    }
    #prenotaPrinc{
        padding: 2%;
        font-size: 100%;
        margin-left: 5%;
    }
    #pres1{
        margin-left: 7%;
    }
    #p1\.2{
        height: 200px;
    }
    #p1\.2 > a{
        font-size: 200%;
    }
    .present > div{
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .present > div > div{
        width: 90%;
        font-size: 120%;
    }
    .present > div > div > img{
        margin: 0;
        height: auto;
    }
    #img3{height: 50%;}
    #img4{height: 40%;}
    #imgS1{
        height: 80%;
    }

}
@media screen and (max-width: 767px){

    .pres2{
        flex-direction: column;
    }
    .pres2 > div{
        float: left;
        padding:0;
        margin: 3%;
        width: 90%;
        height: 90%;
    }
    #pres2\.0,
    #pres2\.1{
        width: 100%;
        height: 100%;
    }
}
